/* default */
html {
  overflow-x: hidden;
  height: 100%;
}
body {
  background-image: url("bg_web.jpg");
}
main {
  min-height: 82vh;
}
h3 {
  padding: 1rem 0;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

/* header */
nav.navbar {
  z-index: 100;
  padding: 20px;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding-left: 7%;
  padding-right: 7%;
  font-family: "Noto Serif KR";
  transition: ease-in-out 0.5s;
}
.dropdown #username {
  margin-left: 0;
}
.navCustomRight .nav-link {
  position: relative;
  font-size: 20px;
  margin-left: 50px;
  font-weight: 400;
  color: #191919 !important;
}
.navCustomLeft .nav-link {
  position: relative;
  font-size: 20px;
  margin-left: 30px;
  font-weight: 400;
  color: #191919 !important;
}
.navbar-light .navbar-toggler {
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding: 0;
}
#basic-navbar-nav.show .navbar-nav a {
  margin: 5px;
}
#basic-navbar-nav .navCustomRight a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 10;
  content: "";
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  background: #ffc165;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#basic-navbar-nav .navCustomRight a:hover:after {
  width: 100%;
  left: 0;
}

/* body */
body {
  position: relative;
  margin: 0;
  padding-bottom: 5rem;
  min-height: 100%;
  font-size: 0.875rem;
}

/* footer */
footer {
  position: absolute;
  width: 100%;
  z-index: 100;
  padding: 1rem;
  color: white;
  font-size: 17px;
  font-weight: bold;
  background-color: #23394d;
  border-top: 1px solid lightgrey;
}

/* spinner */
svg {
  width: 200px;
  height: auto;
}

/* admin side bar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  padding: 370px 0;
  font-size: 18px;
  z-index: 50;
}
.sidebar .nav-link {
  font-weight: 500;
  margin-bottom: 10px;
  color: #333;
}
.sidebar .nav-link .space {
  margin-left: 40px;
}
.sidebar .nav-link:hover {
  background-color: lightgrey;
  transition: ease-in-out 0.1s;
}
.sidebar .nav-link.active {
  color: #007bff;
  cursor: default;
}

/* admin */
.toggle label.btn {
  border-radius: 5px;
}
.toggle label.btn.active {
  background-color: #007bdf !important;
  color: white !important;
  font-weight: bold;
}
.taskStateModal label.btn.active {
  background-color: #888888 !important;
  color: white !important;
  font-weight: bold;
}
.questionModal .modal-footer {
  border-top: none !important;
}
#adminAddressBtn {
  cursor: initial;
}
#adminAddressBtn:focus {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
#adminNotice input {
  background-color: transparent;
  border: 2px solid lightgray;
}
#adminNotice textarea {
  border: 2px solid lightgray;
  background-color: transparent;
}

/* admin Question */
body > div.fade.modal.show > div > div {
  border: none;
  border-radius: 5px;
}

/* admin notice */
.adminTable thead tr th {
  width: 20%;
}
#root
  > main
  > div.container
  > div
  > div
  > div.mt-5.mb-5
  > div
  > ul
  > li.page-item.active
  > button {
  background-color: #d8d8d8;
  color: #a5a5a5;
  margin-right: 3px;
  margin-left: 3px;
  border: none;
}
#root
  > main
  > div.container
  > div
  > div
  > div.mt-5.mb-5
  > div
  > ul
  > li
  > button {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  margin-right: 3px;
  margin-left: 3px;
  line-height: 1px;
  height: 32px;
  width: 30px;
}

/* qrcode  */
#qrpostAddBtn {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  background-color: white;
  border-top: 1px solid lightgrey;
}

/* mailbox  */
#root
  > main
  > div
  > div.justify-content-center.cardContainer.row
  > div
  > div.flippy-container:hover {
  cursor: pointer;
}

#flipCardTitle > button:hover {
  cursor: initial;
}

#flipCardTitle > button:focus {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
#root
  > main
  > div
  > div.mt-5.mb-5.pb-5
  > div
  > ul
  > li.page-item.active
  > button {
  background-color: #242828 !important;
  border: 1px solid #242828;
  color: white;
}
#root > main > div > div.mt-5.mb-5.pb-5 > div > ul > li.page-item > button {
  color: #242828;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.flippy-card {
  padding: 0;
}
#flipCardTitle > button {
  font-family: "Noto Serif KR";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #404040;
}
#soundBtn:focus {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
#soundBtn:hover {
  cursor: pointer;
}
#slideBtn {
  font-family: "Noto Serif KR";
  border: 1px solid gray;
  border-radius: 5px;
  padding-bottom: 8px;
  padding-top: 8px;
  color: #404040;
  font-size: 14px;
  background-color: transparent;
}
#root > main > div:nth-child(2) > div > div.dropdown > div {
  font-family: "Noto Serif KR";
  min-width: 120px;
}
#root > main > div.container > div > div.show.dropdown > div > a {
  padding-left: 12px;
}

#root
  > main
  > div:nth-child(2)
  > div.mt-5.mb-5
  > div
  > ul
  > li.page-item
  > .page-link {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  margin-right: 3px;
  margin-left: 3px;
  line-height: 1px;
  height: 32px;
  width: 30px;
}
#root
  > main
  > div:nth-child(2)
  > div.mt-5.mb-5
  > div
  > ul
  > li.page-item.active
  > button {
  background-color: #d8d8d8;
  color: #a5a5a5;
  margin-right: 3px;
  margin-left: 3px;
  border: none;
}
#root > main > div:nth-child(2) > div > div > button {
  font-family: "Noto Serif KR";
}
/* swiper */
.swiper-container {
  display: flex;
}
#root
  > main
  > div:nth-child(2)
  > div.justify-content-center.cardContainer.row
  > div
  > div:nth-child(3) {
  /* display: none; */
  order: 2;
}
#root
  > main
  > div:nth-child(2)
  > div.justify-content-center.cardContainer.row
  > div
  > div:nth-child(4) {
  order: 1;
}
.swiper-button-prev,
.swiper-button-next {
  color: #191919;
  opacity: 0.7;
  margin-left: 10px;
  margin-right: 10px;
}

/* desk */
.deskBtn {
  background-color: transparent;
  margin-right: 5px;
}
.deskBtn button {
  font-size: 18px;
  font-family: "Noto Serif KR";
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
}
.deskBtn button:focus {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.deskBtn button a {
  text-decoration: none;
  color: black;
}
.deskTable {
  width: 100%;
  margin-bottom: 1rem;
  color: #373a3c;
  border-top: 2px solid grey;
  font-size: 14px;
  overflow: hidden;
  font-family: "Noto Serif KR";
}
.deskTable thead tr {
  border-bottom: 2px solid lightgray;
}
.deskTable tbody tr {
  border-bottom: 2px solid lightgray;
}
.deskTable tbody tr:hover {
  background-color: rgba(216, 216, 216, 0.5);
  cursor: pointer;
}
.deskTable thead tr th {
  font-weight: 500;
  padding: 16px 10px 16px 10px;
  width: 20%;
}
.deskTable tbody tr td {
  padding: 16px 10px 16px 10px;
}
#deskEmpty {
  padding: 80px;
  border-right: 4px solid lightgray;
  border-left: 4px solid lightgray;
}
#deskTitle {
  margin: 0;
  padding-top: 0;
  margin-bottom: 10px;
  font-family: "Noto Serif KR";
  object-fit: contain;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  font-size: 23px;
  text-align: left;
  color: #404040;
}
/* notice page button */
#root
  > main
  > div
  > div
  > div.mt-5.mb-5
  > div
  > ul
  > li.page-item.active
  > button {
  background-color: #d8d8d8;
  color: #a5a5a5;
  margin-right: 3px;
  margin-left: 3px;
  border: none;
}
#root > main > div > div > div.mt-5.mb-5 > div > ul > li > button {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  margin-right: 3px;
  margin-left: 3px;
  line-height: 1px;
  height: 32px;
  width: 30px;
}

/* FAQ */
.accordion {
  width: 100%;
  color: #373a3c;
  border-top: 2px solid grey;
  font-size: 14px;
  overflow: hidden;
  font-family: "Noto Serif KR";
}
.accordion .card {
  background-color: transparent;
  border: none;
  border-top: solid 1px #b1b1b1;
  border-bottom: solid 1px #b1b1b1;
  cursor: pointer;
}
.accordion .card .card-header {
  border: none;
  background-color: transparent;
  padding: 10px;
  padding-left: 30px;
}
.accordion .card .card-body {
  padding-left: 30px;
}
#root > main > div > div > div.accordion > div > div > div {
  border-top: 2px solid #b1b1b1;
  background-color: rgb(227, 227, 227, 0.5);
}

/* QA */
#QAdropBtn {
  border: 1px solid gray;
  padding-bottom: 8px;
  padding-top: 8px;
  color: #404040;
  width: 120px;
  font-size: 14px;
  background-color: white;
}
#root
  > main
  > div
  > div
  > form
  > div:nth-child(1)
  > div:nth-child(2)
  > div
  > div {
  min-width: 120px;
}
#root
  > main
  > div
  > div
  > form
  > div:nth-child(1)
  > div:nth-child(2)
  > div
  > div
  > a {
  padding-left: 12px;
}
/* focus remove */
#root
  > main
  > div
  > div
  > form
  > div:nth-child(3)
  > div:nth-child(2)
  > textarea:focus {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
#modalPostCard .card-img-top {
  box-shadow: 1px 2px 10px rgba(78, 78, 78, 0.5);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
#modalPostCard:hover img {
  cursor: pointer;

  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
body
  > div.fade.modal.show
  > div
  > div
  > div
  > div:nth-child(3)
  > div
  > ul
  > li.page-item.active
  > button {
  background-color: #d8d8d8;
  color: #a5a5a5;
  margin-right: 3px;
  margin-left: 3px;
  border: none;
}
body
  > div.fade.modal.show
  > div
  > div
  > div
  > div:nth-child(3)
  > div
  > ul
  > li
  > button {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  margin-right: 3px;
  margin-left: 3px;
  line-height: 1px;
  height: 32px;
  width: 30px;
}
/* qa create form comment textarea */
#root > main > div > div > form > div > div > textarea:focus {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
/* qa comments pagination */
#root
  > main
  > div
  > div
  > div.mb-3.pb-5
  > div.mt-5.mb-5
  > div
  > ul
  > li.page-item.active
  > button {
  background-color: #d8d8d8;
  color: #a5a5a5;
  margin-right: 3px;
  margin-left: 3px;
  border: none;
}

#root
  > main
  > div
  > div
  > div.mb-3.pb-5
  > div.mt-5.mb-5
  > div
  > ul
  > li
  > button {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  margin-right: 3px;
  margin-left: 3px;
  line-height: 1px;
  height: 32px;
  width: 30px;
}

/* login & register */
.registerForm .form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.loginForm .form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

/* input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* font */
@font-face {
  font-family: "Noto Serif KR";
  font-style: normal;
  font-weight: 100;
  src: local("Noto Serif CJK KR"), local("Source Han Serif K"),
    local("Source Han Serif"), local("Noto Serif CJK"), local("Noto Serif"),
    url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Katter/7392ea08/fonts/NotoSerifCJKkr-ExtraLight-subset.woff)
      format("woff"),
    url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Katter/7392ea08/fonts/NotoSerifCJKkr-ExtraLight-subset.woff2)
      format("woff2"),
    url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Katter/7392ea08/fonts/NotoSerifCJKkr-ExtraLight-subset.otf)
      format("otf");
}
@font-face {
  font-family: "Noto Serif KR";
  font-style: normal;
  font-weight: 300;
  src: local("Noto Serif CJK KR"), local("Source Han Serif K"),
    local("Source Han Serif"), local("Noto Serif CJK"), local("Noto Serif"),
    url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Katter/7392ea08/fonts/NotoSerifCJKkr-Regular-subset.woff)
      format("woff"),
    url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Katter/7392ea08/fonts/NotoSerifCJKkr-Regular-subset.woff2)
      format("woff2"),
    url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Katter/7392ea08/fonts/NotoSerifCJKkr-Regular-subset.otf)
      format("otf");
}
@font-face {
  font-family: "Noto Serif KR";
  font-style: normal;
  font-weight: 600;
  src: local("Noto Serif CJK KR"), local("Source Han Serif K"),
    local("Source Han Serif"), local("Noto Serif CJK"), local("Noto Serif"),
    url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Katter/7392ea08/fonts/NotoSerifCJKkr-Bold-subset.woff)
      format("woff"),
    url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Katter/7392ea08/fonts/NotoSerifCJKkr-Bold-subset.woff2)
      format("woff2"),
    url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Katter/7392ea08/fonts/NotoSerifCJKkr-Bold-subset.otf)
      format("otf");
}
