/* default */
html {
  overflow-x: hidden;
  height: 100%;
}
main {
  min-height: 80vh;
}
h3 {
  padding: 1rem 0;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

/* header */
nav.navbar {
  z-index: 100;
  padding: 20px;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding-left: 7%;
  padding-right: 7%;
  font-family: "Noto Serif KR";
  transition: ease-in-out 0.5s;
}
.navCustomRight .nav-link {
  position: relative;
  font-size: 20px;
  margin-left: 50px;
  font-weight: 400;
  color: #191919 !important;
}
.navCustomLeft .nav-link {
  position: relative;
  font-size: 20px;
  margin-left: 10px;
  font-weight: 400;
  color: #191919 !important;
}
.navbar-light .navbar-toggler {
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding: 0;
}
#basic-navbar-nav .navCustomRight a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  background: #ffc165;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#basic-navbar-nav .navCustomRight a:hover:after {
  width: 100%;
  left: 0;
}

/* body */
body {
  position: relative;
  margin: 0;
  padding-bottom: 5rem;
  min-height: 100%;
  font-size: 0.875rem;
}

/* footer */
footer {
  position: absolute;
  width: 100%;
  z-index: 100;
  padding: 1rem;
  color: white;
  font-size: 17px;
  font-weight: bold;
  background-color: #23394d;
  border-top: 1px solid lightgrey;
}

/* spinner */
svg {
  width: 200px;
  height: auto;
}

/* admin side bar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  padding: 120px 0;
  font-size: 18px;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  z-index: 50;
}
.sidebar .nav-link {
  font-weight: 500;
  margin-bottom: 10px;
  color: #333;
}
.sidebar .nav-link .space {
  margin-left: 40px;
}
.sidebar .nav-link:hover {
  background-color: lightgrey;
  transition: ease-in-out 0.1s;
}
.sidebar .nav-link.active {
  color: #007bff;
  cursor: default;
}

/* admin */
.toggle label.btn {
  border-radius: 5px;
}
.toggle label.btn.active {
  background-color: #007bdf !important;
  color: white !important;
  font-weight: bold;
}
.taskStateModal label.btn.active {
  background-color: #888888 !important;
  color: white !important;
  font-weight: bold;
}
.questionModal .modal-footer {
  border-top: none !important;
}
#adminAddressBtn {
  cursor: initial;
}
#adminAddressBtn:focus {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

/* qrcode  */
#qrpostAddBtn {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  background-color: white;
  border-top: 1px solid lightgrey;
}

/* mailbox  */
#root
  > main
  > div
  > div.justify-content-center.cardContainer.row
  > div
  > div.flippy-container:hover {
  cursor: pointer;
}

#flipCardTitle > button:hover {
  cursor: initial;
}

#flipCardTitle > button:focus {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
#root
  > main
  > div
  > div.mt-5.mb-5.pb-5
  > div
  > ul
  > li.page-item.active
  > button {
  background-color: #242828 !important;
  border: 1px solid #242828;
  color: white;
}
#root > main > div > div.mt-5.mb-5.pb-5 > div > ul > li.page-item > button {
  color: #242828;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.flippy-card {
  padding: 0;
}
#soundBtn:focus {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
#soundBtn:hover {
  cursor: pointer;
}

/* swiper */
.swiper-container {
  display: flex;
}
#root
  > main
  > div:nth-child(2)
  > div.justify-content-center.cardContainer.row
  > div
  > div:nth-child(3) {
  /* display: none; */
  order: 2;
}
#root
  > main
  > div:nth-child(2)
  > div.justify-content-center.cardContainer.row
  > div
  > div:nth-child(4) {
  order: 1;
}
.swiper-button-prev,
.swiper-button-next {
  color: #191919;
  opacity: 0.7;
  margin-left: 10px;
  margin-right: 10px;
}

/* font */
@font-face {
  font-family: "Noto Serif KR";
  font-style: normal;
  font-weight: 100;
  src: local("Noto Serif CJK KR"), local("Source Han Serif K"),
    local("Source Han Serif"), local("Noto Serif CJK"), local("Noto Serif"),
    url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Katter/7392ea08/fonts/NotoSerifCJKkr-ExtraLight-subset.woff)
      format("woff"),
    url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Katter/7392ea08/fonts/NotoSerifCJKkr-ExtraLight-subset.woff2)
      format("woff2"),
    url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Katter/7392ea08/fonts/NotoSerifCJKkr-ExtraLight-subset.otf)
      format("otf");
}
@font-face {
  font-family: "Noto Serif KR";
  font-style: normal;
  font-weight: 300;
  src: local("Noto Serif CJK KR"), local("Source Han Serif K"),
    local("Source Han Serif"), local("Noto Serif CJK"), local("Noto Serif"),
    url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Katter/7392ea08/fonts/NotoSerifCJKkr-Regular-subset.woff)
      format("woff"),
    url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Katter/7392ea08/fonts/NotoSerifCJKkr-Regular-subset.woff2)
      format("woff2"),
    url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Katter/7392ea08/fonts/NotoSerifCJKkr-Regular-subset.otf)
      format("otf");
}
@font-face {
  font-family: "Noto Serif KR";
  font-style: normal;
  font-weight: 600;
  src: local("Noto Serif CJK KR"), local("Source Han Serif K"),
    local("Source Han Serif"), local("Noto Serif CJK"), local("Noto Serif"),
    url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Katter/7392ea08/fonts/NotoSerifCJKkr-Bold-subset.woff)
      format("woff"),
    url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Katter/7392ea08/fonts/NotoSerifCJKkr-Bold-subset.woff2)
      format("woff2"),
    url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Katter/7392ea08/fonts/NotoSerifCJKkr-Bold-subset.otf)
      format("otf");
}
